html,
body{
  margin:0;
  padding:0;
  overflow-x:hidden;
  background:#f6f7f9;
  font-family:'DM Sans',sans-serif;
}

.main-wrapper{
  margin-left:230px;
  width:calc(100% - 230px);
}

@media(max-width:992px){

  .main-wrapper{
    margin-left:70px;
    width:calc(100% - 70px);
  }

}